{%- if page.categories.first == "etc" -%}
<header class="masthead" style="background-image: url('/assets/img/{{page.title | escape}}-bg.jpg')">
{%- else -%}
<header class="masthead" style="background-image: url('/assets/img/{{page.categories | first}}-bg.jpg')">
{%- endif -%}
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ page.title | escape }}</h1>
                    <h2 class="subheading">{{ page.subtitle | escape }}</h2>
                    {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
                    <span class="meta">
                        on {{ page.date | date: date_format }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>