<header class="masthead" style="background-image: url('/assets/img/{{ page.title }}-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1>{{ page.title | default: "Hokyun's Blog" }}</h1>
                <span class="subheading">{{ page.comment | default: "개발 블로그" }}</span>
            </div>
        </div>
    </div>
  </div>
</header>
