<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <label id="sidelabel" class="sidelabel">
            <button type="button" class="bookmark-btt navbar-brand" onclick="openNav()"><i class="fas fa-align-justify"></i></button>    
        </label>
        <!--Side nav-->
        <div id="sidesection" class="sidesection">           
            <i id="close" onclick="closeNav()" class="fas fa-angle-double-left"></i>
            <h2>Category</h2>
            <br>
            <ul class="bookmark-lists" style="border-bottom: thin solid #fff">
                <h5>Computer Science</h5>
                <li class="bookmark"><a href="/CS/Network/index.html">↳ Network</a></li>
            </ul>
            <ul class="bookmark-lists" style="border-bottom: thin solid #fff">
                <h5>Programming Language</h5>
                <li class="bookmark"><a href="/PL/Common/index.html">↳ Common</a></li>
                <li class="bookmark"><a href="/PL/Cpp/index.html">↳ C++</a></li>
            </ul>
            <ul class="bookmark-lists" style="border-bottom: thin solid #fff">
                <h5>Coding Test</h5>
                <li class="bookmark"><a href="/BOJ/index.html" style="font-size: smaller;">↳ Baekjoon</a></li>
                <li class="bookmark"><a href="/SWEA/index.html" style="font-size: smaller;">↳ SWExpertAcademy</a></li>
            </ul>
            <ul class="bookmark-lists">
                <h5>Etc</h5>
                <li class="bookmark"><a href="/etc/index.html">↳ Etc</a></li>
            </ul>
        </div>
        <a class="navbar-brand" href="/index.html">Hokyun's Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about/index.html">About</a></li>
            </ul>
        </div>
    </div>
</nav>